.linkStyle {
    text-decoration: none !important;
    color: aliceblue !important;
    transition: all !important;
    transition-timing-function: ease-in-out !important;
}

.linkStyle:hover {
    color: gray !important;
}

.footer {
    border-top: solid 1px gray;
    padding-top: 30px;
    padding-bottom: 30px;
}

.aboutTitle {
    /*padding-bottom: 30px;*/
    text-align: center;
}

.about {
    padding-top: 80px;
    padding-bottom: 80px;
}

.title {
    /*margin-top: 100px;*/
}

.containerStyle {
    margin-top: 50px;
}

.cardStyle {
    margin-bottom: 2%;
}

.description {
    color: lightblue;
}

.innerCard {
    background-color: #161b22;
    padding: 50px 30px;
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    height: 100%;
}

.innerCard:hover {
    transform: scale(1.08);

}

.closeButtonStyle, .menuButtonStyle {
    border: none !important;
    background-color: transparent !important;
}

.closeButtonStyle:hover, .menuButtonStyle:hover {
    background-color: transparent !important;
    border: none !important;
    color: gray !important;
}

.closeButtonStyle:focus, .menuButtonStyle:focus {
    box-shadow: none !important;
}

.dropDown {
    background-color: transparent !important;
    border-color: transparent !important;
}

.buttonStyle {
    background-color: transparent !important;
    border-color: transparent !important;
    color: aliceblue !important;
}

.buttonStyle:hover {
    color: gray !important;
    transition: all !important;
    transition-timing-function: ease-in-out !important;
}

.buttonStyle:focus {
    box-shadow: none !important;
}

.backgroundImg {

    background-image: url("../assets/images/homebackground.webp");
    /*background-position: center;*/
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 0;
    /*background-blend-mode: darken;*/
    /*backdrop-filter: grayscale(50%);*/
    /*background-color: rgba(255, 255, 255, 0.5);*/
}

.headingStyle {
    color: aliceblue !important;
}

.captionStyle {
    background-color: #0d1117;
    opacity: 0.5;
    color: aliceblue;
    right: 0 !important;
    left: 0 !important;
}


body {
    background-color: #181a1b !important;
    color: aliceblue !important;
    background-size: 800px 800px;
    background-image: url("../assets/images/background.webp");
    background-repeat: repeat;
}



.navBar {
    background-color: #161b22;
}

@media only screen and (max-width: 600px) {
    .containerStyle {
        margin-top: 50px;
    }

    .innerCard {
        width: 80%;
        margin: auto;
    }
}