.linkStyle {
    text-decoration: none !important;
    color: black !important;
}

.App {
    height: 100vh;
    background-image: url("../assets/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.headingStyle {
    font-family: 'Bad Script', cursive;
    color: aliceblue !important;
}

.captionStyle {
    background-color: #0d1117;
    opacity: 0.5;
    color: aliceblue;
    right: 0 !important;
    left: 0 !important;
}


body {
    background-color: #0d1117 !important;
    color: aliceblue !important;
}

.linkStyle:hover {
    color: gray !important;
    transition: all !important;
    transition-timing-function: ease-in-out !important;
}