.formStyle {
    border-radius: 15px;
}

.inputStyle:focus {
    border-color: aliceblue !important;
    box-shadow: 0 0 0 .25rem rgba(240,248,255,.5) !important;
}

.inputStyle {

}

.formWrapper {
    width: 50%;
    margin-top: 10%;
}

.linkStyle {
    margin-top: 10px;
    text-decoration: none;
    color: aliceblue;
}

.linkStyle:hover {
    color: gray;
    transition: all 0.2s ease-in-out !important;
    cursor: pointer;
}

/*@media only screen and (max-width: 600px) {*/
/*    .formStyle {*/
/*        width: 80%;*/
/*    }*/
/*}*/