.formStyle {
    border-radius: 15px;
}

.inputStyle:focus {
    border-color: aliceblue !important;
    box-shadow: 0 0 0 .25rem rgba(240,248,255,.5) !important;
}

.inputStyle {

}

.formWrapper {
    width: 50%;
    margin-top: 10%;
}

/*@media only screen and (max-width: 600px) {*/
/*    .formStyle {*/
/*        width: 80%;*/
/*    }*/
/*}*/