.linkActive {
    margin-right: 5px;
    margin-left: 5px;
    text-decoration: none;
    color: gray;
}

.linkActive:hover {
    color: gray;
    transition: all 0.2s ease-in-out !important;
}

.linkInActive {
    margin-right: 5px;
    margin-left: 5px;
    text-decoration: none;
    color: aliceblue;
}

.linkInActive:hover {
    color: gray;
    transition: all 0.2s ease-in-out !important;
}

.navBar {
    background-color: #161b22;
    border-bottom: 1px black groove;
}

.closeButtonStyle, .menuButtonStyle {
    border: none !important;
    background-color: transparent !important;
}

.closeButtonStyle:hover, .menuButtonStyle:hover {
    background-color: transparent !important;
    border: none !important;
    color: gray !important;
}

.closeButtonStyle:focus, .menuButtonStyle:focus {
    box-shadow: none !important;
}

.buttonStyle {
    background-color: transparent !important;
    border-color: transparent !important;
    color: aliceblue !important;
}

.buttonStyle:hover {
    color: gray !important;
    transition: all !important;
    transition-timing-function: ease-in-out !important;
}

.buttonStyle:focus {
    box-shadow: none !important;
}

.dropDownItemStyle:active {
    background-color: #161b22 !important;
}