.pollStyle {
    border-radius: 15px;
    background-color: lightblue;
    color: #161b22;
}

.pollStyle:hover {
    background-color: #dc3545;
    transition: all;
    transition-timing-function: ease-out;
    transition-duration: 0.2s;
    cursor: pointer;
    transform: scale(1.05);
}

.allPollsWrapper {
    display: grid;
    grid-template-columns: repeat(3, 33.3333%);
    grid-auto-rows: 1fr;
    gap: 10px 10px;
    justify-content: center;
}

.closeButtonStyle {
    border: none !important;
    background-color: transparent !important;
}

.closeButtonStyle:hover {
    background-color: transparent !important;
    border: none !important;
    color: gray !important;
}

.closeButtonStyle:focus {
    box-shadow: none !important;
}

.modal {
    background-color: #161b22;
}

@media only screen and (max-width: 1000px) {
    .allPollsWrapper {
        grid-template-columns: repeat(2, 50%);
    }
}

@media only screen and (max-width: 600px) {
    .allPollsWrapper {
        grid-template-columns: repeat(1, 100%);
    }
}
