.closeButtonStyle {
    border: none !important;
    background-color: transparent !important;
}

.closeButtonStyle:hover {
    background-color: transparent !important;
    border: none !important;
    color: gray !important;
}

.closeButtonStyle:focus {
    box-shadow: none !important;
}

.votingModal {
    background-color: #161b22;
}